################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x86/Release
.vs/*
Ambrosium/Ambrosium/obj/Release